.list {
  padding: 20px 0;
}

.list .item {
  display: flex;
  padding: 16px;
  margin: 5px;
  background-color: #FFEDDE;
  border-radius:10px;
}

.list .item .check {
  height: 15px;
  width: 15px;
  margin-right: 20px;
  border: solid #535F69 1px;
  border-radius: 50%;
}

.list .item.done .check {
  background: #E6842D;
  border: none;
  text-align: center;
}

.list .item.done .check i{
  font-size:10px;
  color:#FFEDDE;
  line-height: 15px;
  height: 15px;
}

.list .item .select {
  height: 15px;
  width: 15px;
  margin-right: 20px;
  border-radius: 50%;
  border: solid #535F69 1px;
}

.list .item .text{
  color: #535F69; 
}

.list .item.selected {
  background-color: #F7E1AD;
}

.list .item.selected .select {
  background-color: #F7BA2D;
  border:none;
}

.list .item.done .text {
  text-decoration: line-through;
}
